

.menu-item {
    cursor: pointer;
    overflow: hidden;
    position: relative;
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin: 0 7.5px 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.3s;

    &:hover{
      & .content{
      background: aliceblue;
      color: black;
      & .title{
        color: black;
      }
    }
    .background{
      transform: scale(1.3);
    }
  }
  
    &:first-child {
      margin-right: 7.5px;
    }
  
    &:last-child {
      margin-left: 7.5px;
    }
    
    .background{
      height: 100%;
      width: 100%;
      transition: all 5s linear;
    }
    .content {
      height: 110px;
      padding: 0 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: aliceblue;
      justify-content: center;
      border: 6px double aliceblue;
      transition: all 0.1s;
      position: absolute;
  
      .title {
        font-weight: bold;
        margin-bottom: 6px;
        font-size: 22px;
        text-transform: uppercase;
        color: aliceblue;
        transition: all 0.1s;
      }
  
      .subtitle {
        font-weight: lighter;
        font-size: 16px;
      }
    }
  }

  .large{
    height: 400px;
  }